* {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
html body {
    overflow: hidden;
}
header {
    width: 100%;
    height: 80px;
    color: white;
    border-bottom: solid;
    border-color: white;
    margin-bottom: 5vh;
}
h1 {
  width: 100%;
  font-size: 30px;
  padding-top: 15px;
  padding-left: 20px;
  font-family: 'Anton', sans-serif;
}
.menu {
    display: inline-block;
    vertical-align: top;
    margin-left: 3vw;
    height: 60vh;
    width: 15vw;
    border: solid;
    border-color: white;
}
.menu ul {
    text-align: center;
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu li {
    padding: 1.5vh 0;
    font-size: 2.5vh;
}
.menu li:hover {
    background-color: white;
    color: black;
}
.mainfot {
    display: inline-block;
    margin-left: 6vw;
    height: 60vh;
    width: 50vw;
}
.mainfot img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: solid;
    border-color: rgb(108, 106, 255);;
}
.fot {
    display: inline-block;
    margin-left: 0.5vw;
}
.fot ul {
    list-style: none;
}
.fot img {
    height: 19vh;
    width: 12vw;
    object-fit: cover;
    border: solid;
    border-color: rgb(108, 106, 255);
}
.setumei {
    text-align: center;
    font-size: 2.8vh;
    color: white;
}